.idea
.settings
logs
target
.classpath
.project
*.iml
.dockerignore
first/.settings
first/target
first/.classpath
first/.project
second/.settings
second/target
second/.classpath
second/.project
third/.settings
third/target
third/.classpath
third/.project
